@using System.Diagnostics
@using MvcApplication2.Models
@using System.Web.Script.Serialization
@{
    var physicianModel = ViewData["Physician"] as PhysicianModel;
}
<!DOCTYPE html>
<style>
    /*event in day or week view*/
    .dhx_cal_event.patient_event div {
        background-color: #FF9933 !important;
        color: black !important;
    }

    .dhx_cal_event.own_event div {
        background-color: #009966 !important;
        color: black !important;
    }

    .dhx_cal_event.blocker_event div {
        background-color: #9433ff !important;
        color: black !important;
    }

    .dhx_cal_event_line.patient_event div {
        background-color: #FF9933 !important;
        color: black !important;
    }

    .dhx_cal_event_line.own_event div {
        background-color: #009966 !important;
        color: black !important;
    }

    .dhx_cal_event_line.blocker_event div {
        background-color: #9433ff !important;
        color: black !important;
    }

    .dhx_cal_event_clear.patient_event div {
        background-color: #FF9933 !important;
        color: black !important;
    }

    .dhx_cal_event_clear.own_event div {
        background-color: #009966 !important;
        color: black !important;
    }

    .dhx_cal_event_clear.blocker_event div {
        background-color: #9433ff !important;
        color: black !important;
    }
</style>
<html>
<head>
    <title>DHXScheduler initialization sample</title>

    <link href="~/Content/dhtmlxScheduler/dhtmlxscheduler-responsive.css" rel="stylesheet" />
    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler-responsive.js"></script>
    <script src="@Url.Content("~/Scripts/dhtmlxScheduler/custom_calendar_physician.js")" ></script>
</head>

<body>
    <script>
        //initialize variables loaded from server side, will introduce a global variable in order to store them:
        window.app.appointments = @{
                                      Debug.Assert(physicianModel != null, "physicianModel != null");
                                  }
            @Html.Raw(new JavaScriptSerializer().Serialize(physicianModel.Appointments));    
    </script>
    <div style="height: 700px; width: 100%; margin: 0 auto">
        <h2>Doctor @physicianModel.Name 's Schedule</h2>

        @Html.Raw(Model.Render())
    </div>

</body>

</html>
