@model MvcApplication2.Models.PatientModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Partial("_PatientDetailsPartial")
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
