
@{
    ViewBag.Title = Resources.Resource.Error;
}

<hgroup class="title">
    <h1 class="error">@Resources.Resource.Error</h1>
    <h2 class="error">@Resources.Resource.AdminPageOnly</h2>
</hgroup>
